.g-typography {
    &-title {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: $black;

        &_s20 {
            font-size: 20px;
        }

        &_s16 {
            font-size: 16px;
        }
    }

    &-desc {
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        color: $desc;

        &_s16 {
            font-size: 16px;
        }

        &_s14 {
            font-size: 14px;
        }
    }
}

input {
    outline: 0;
    outline-offset: 0;

    &:active,
    &:hover,
    &:focus {
        outline: 0;
        outline-offset: 0;
    }
}

.flex_center_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skeleton, div.skeleton {
    background: linear-gradient(110deg, #c6965833 8%, #e8c99e 18%, #c6965833 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
  }
  
  .skeleton-image {
    background-image: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%) !important;
  }
  
  @keyframes shine {
    to {
      background-position-x: -200%
    }
  }
